<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
    name="TI-RTOS for SimpleLink Wireless MCUs Target Content"
    id="com.ti.rtsc.TIRTOSsimplelink.product_2.13.0.06"
    version="2.13.0.06"
    provider-name="Texas Instruments">

    <extension point="org.eclipse.rtsc.xdctools.ui.productInfo">
        <repository location="../../../packages"/>
        <repository location="../../../products/bios_6_42_00_08/packages"/>
        <repository location="../../../products/uia_2_00_02_39/packages"/>
        <docs location="../../../."/>
        <docs location="../../../docs"/>
        <docs location="../../../docs/cdoc"/>
        <docs location="../../../docs/doxygen/html"/>
        <docs location="../../../products/bios_6_42_00_08/docs"/>
        <docs location="../../../products/bios_6_42_00_08/docs/cdoc"/>
        <docs location="../../../products/uia_2_00_02_39/docs"/>
        <docs location="../../../products/uia_2_00_02_39/docs/cdoc"/>
        <rtscTarget sourceFile="products/bios_6_42_00_08/etc/targets.json"/>
        <rtscPlatform sourceFile="products/bios_6_42_00_08/etc/platforms.json"/>
        <info
            installLocation="../../.."
            productName="TI-RTOS for SimpleLink Wireless MCUs"
            versionNumber="2.13.0.06"
            containsRTSCPlatforms="true"
        />
    </extension>

    <extension point="org.eclipse.rtsc.xdctools.model.productView">
        <productview
            moduleName="ti.tirtos.productview.TIRTOSProductView"
         />
    </extension>

    <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProductTypes">
        <productType
            id="com.ti.rtsc.TIRTOSsimplelink"
            name="TI-RTOS for SimpleLink Wireless MCUs"
            folderPrefix="TI-RTOS for SimpleLink Wireless MCUs"
            repoMacroName="COM_TI_RTSC_TIRTOSSIMPLELINK_REPOS"
            rootMacroName="COM_TI_RTSC_TIRTOSSIMPLELINK_INSTALL_DIR"/>
    </extension>

    <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProducts">
        <product
            productTypeId="com.ti.rtsc.TIRTOSsimplelink"
            version="2.13.0.06">
            <resources location="resources"/>
        </product>
    </extension>
</plugin>
